# Generic
PROJECT_NAME="shopify-app"
PROJECT_DOMAIN="idk"
DB_USER="user"
DB_NAME="mydatabase"
DB_HOST="localhost"
DB_PORT="5432"
DB_PASSWORD="password"

# Shopify Custom App
SHOPIFY_APP_CLIENT_ID=""
SHOPIFY_APP_SECRET=""
SHOPIFY_APP_SCOPES=""
SHOPIFY_APP_REDIRECT_URL=""
